.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "a a a a a a a a a a" 
    "b b b b b b b c c c"
    "d d d d d d d d d d";

  }
.box{
  display: flex;
  border: 1px solid  black;
  justify-content: center;
}
#header{
  grid-area: a;
  background-color: firebrick;
  color: #ffffff;
  font-size: 90px;
  padding-top: 30px;
}
#content{
  grid-area: b;
}
#sidebar{
  grid-area: c;
}
#footer{
  grid-area: d;
}
.list-item{
  font-size: 30px;
  list-style-type: none;
  padding: 20px 10px 20px 0;;
}
a:hover{
  color: #ebdb34;
}

a{
  text-decoration: none;
  color: darkslategray;
}

.text{
  font-size: 30px;
}

#header-jan21{
  grid-area: a;
  background-color: forestgreen;
  color: #ffffff;
  font-size: 90px;
  padding-top: 30px;
}
#header-feb21{
  grid-area: a;
  background-color: lightcoral;
  color: #ffffff;
  font-size: 90px;
  padding-top: 30px;
}
#header-mar21{
  grid-area: a;
  background-color: indigo;
  color: #ffffff;
  font-size: 90px;
  padding-top: 30px;
}

@media only screen and (max-width: 320px){





}
